:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  max-width: 100vw;

  --pale-primary-color: #ffba92;
  --light-primary-color: #ffab7b;
  --regular-primary-color: #cd621e;
  --regular-secondary-color: #1b5058;
  --light-secondary-color: #568d96;
  --pale-secondary-color: #c3d1cc;
  --transluscent-secondary-color: #e5eeeb;
  --light-bkg-color: #fcfffe;
  --dark-bkg-color: #242424;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--text-color);
  font-family: "Concert One", sans-serif;
  font-size: 14px;
}

button{
  cursor: pointer;
  outline: none;
  
  display: block;
  margin: 0 auto;

  padding: 8px 30px;

  border-radius: 24px;
  border: 1px solid var(--regular-primary-color);

  font-weight: 400;
  letter-spacing: .1em;

  background-color: var(--regular-primary-color);
  color: white;
  transition-duration: 0.2s;
}

button:hover {
  background-color: white;
  color: var(--regular-primary-color);
  border-color: var(--regular-primary-color);
  border: 1px solid;
  border-radius: 25px;
  text-decoration: none;
}

.btn-secondary{
  margin: unset;
  background-color: var(--regular-secondary-color);
  border-color: var(--regular-secondary-color);
}

.btn-secondary:hover{
  color: var(--regular-secondary-color);
  border-color: var(--regular-secondary-color);
}

.button-icon-left{
  margin-right: 10px;
}

.button-icon-right{
  margin-left: 10px;
}

.input-search{
  text-align: center;
  width: 300px;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  padding: 8px 1em;
  background: white;
  box-shadow: 5px 5px 100px var(--pale-secondary-color);
}

input::placeholder {
  color: var(--light-secondary-color); 
}

.input-search:focus,
select:focus {
outline: none;
box-shadow: 5px 5px 100px var(--light-secondary-color);

}

.conteneur {
  max-width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  text-align: justify;
} 

h4{
  font-weight: 700;
  color: var(--regular-secondary-color);
  margin: 16px 0 8px 0;
}
/* --------------------------- Header -------------------------- */


header{
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding: 20px 0;
  gap: 30px;
}

#main-header{
  width: 100%;
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  align-items: center;
}

#main-header-search,
#main-header-buttons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: center;
}

#logo2{
  width: 140px;
}

#full-search{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 20px;
  background: white;
  box-shadow: 5px 5px 100px var(--pale-secondary-color);
}

#full-search form input{
  text-align: left;
  padding-left: 30px;
  border-radius: 0 20px 20px 0;
  box-shadow: none;
}

#full-search button{
  background-color: var(--transluscent-secondary-color);
  color: var(--regular-secondary-color);
  border-color: var(--pale-secondary-color);
  border-radius: 20px 0 0 20px;
  min-width: 205px;
  text-align: left;
}

#full-search button:hover{
  border-color: var(--light-secondary-color);
}

#main-header-filters{
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: wrap; 
  align-items: center;
}

#main-header-filters li button{
  background-color: white;
  color: var(--regular-secondary-color);
  border-color: var(--pale-secondary-color);
}

#main-header-filters li button:hover {
  background: white;
  background-color: var(--transluscent-secondary-color);
  border-color: var(--light-secondary-color);
}
#main-header-filters li button.active{
  background-color: var(--transluscent-secondary-color);
}
.filter-count{
  font-size: 10px;
  margin-left: 10px;
  text-align: center;
  background-color: var(--transluscent-secondary-color);
  padding: 3px 6px;
  border-radius: 50%;
}
#main-header-filters li button.active .filter-count {
  background-color: white;
}


@media screen and (max-width: 1150px) {
  #main-header-search {
      flex-direction: column;
      align-items: flex-start;
  }
  #main-header{
    display: unset;
  }
  #main-header-buttons{
    position: absolute;
    top: 20px;
    right: 30px;
  }
}

.filter-item {
  position: relative;
  list-style: none;
}

.dropdown-content {
  position: absolute;
  z-index: 10;
  /* top: 100%; */
  left: 0;

  width: max-content;
  /* min-width: 100%; */

  background-color: white;
  border: 1px solid var(--pale-secondary-color);
  border-radius: 24px;
  margin-top: 10px;
  padding: 8px 38px 8px 30px; 
  
  overflow: hidden;
}

/* Conteneur interne pour le contenu scrollable */
.dropdown-content-inner {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 38px;
}

/* Styles pour la scrollbar */
.dropdown-content-inner::-webkit-scrollbar {
  width: 4px;
  right: 30px;
  border-radius: 4px;
}

.dropdown-content-inner::-webkit-scrollbar-track {
  background: #E8E8E8;
  margin: 10px 0;
  border-radius: 4px;
}
.dropdown-content-inner::-webkit-scrollbar-thumb {
  background-color: var(--light-secondary-color);
  border-radius: 2px;
}
.dropdown-content-inner::-webkit-scrollbar-thumb:active {
  background-color: var(--regular-secondary-color);
}
.dropdown-content-inner {
  scrollbar-width: thin;
  scrollbar-color: var(--light-secondary-color) #E8E8E8;
}
.dropdown-content-inner:active {
  scrollbar-color: var(--regular-secondary-color) #E8E8E8;
}

.categories-dropdown-inner {
  max-height: none; /* Disable the height limit */
  overflow-y: visible; /* Disable vertical scroll */
  padding-right: 0; /* No need for padding on the right */
}
.category-item {
  padding: 4px 0;
  cursor: pointer;
  min-width: 190px;
}
.category-item:hover,
.checkbox-label:hover {
  color: var(--regular-primary-color);
}

.checkbox-label {
  display: flex;
  flex-direction: row-reverse; /* Inverse l'ordre : texte à gauche, checkbox à droite */
  justify-content: space-between; /* Espace entre le texte et la checkbox */
  align-items: center;
  padding: 4px 0px;
  gap: 16px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  accent-color: var(--regular-primary-color);
}

.price-filter{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
}

.price-filter-min,
.price-filter-max{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-price{
  width: 50px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--pale-secondary-color);
  box-shadow: none;
  padding: 8px 8px 8px 0;
  background: white;
}
.input-price:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid var(--light-secondary-color);
}
.input-price::placeholder {
  color: var(--pale-secondary-color); 
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Le premier h4 du dropdown n'a pas un margin-top supérieur aux autres dropdowns */
.dropdown-content-inner > div:first-child > h4:first-of-type {
  margin-top: 4px; 
}

/* --------------------------- Footer -------------------------- */


footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.absolute-footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}


#footer-conteneur{
  width: 100%;
  background: var(--regular-secondary-color);
}

.custom-shape-divider-bottom-1730289659 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1730289659 svg {
  position: relative;
  top: -15px;
  display: block;
  width: calc(100% + 1.3px);
  height: 129px;
}

.custom-shape-divider-bottom-1730289659 .shape-fill {
  fill: var(--regular-secondary-color);
}
#footer-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  position: relative;
  top: -25px;
}

#footer-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 100px;
}

@media screen and (max-width: 620px) {
  #footer-content, 
  #footer-links {
      gap: 30px;
  }
}

#footer-links ul{
  list-style: none;
}

#footer-links ul li a,
#footer-links ul li h4{
  color: white;
  text-decoration: none;
  line-height: 1.5;
}

#footer-links ul li a:hover{
  color: var(--pale-secondary-color);
}

#footer-socials ul{
  list-style: none;
}

#footer-socials ul li {
  display: inline-block;
  margin-left: 20px;
}

#footer-socials ul li a {
 display: inline-block;
 width: 45px ;
 height: 45px;
 text-align: center;
 line-height: 58px;
 border-radius: 50%;
 background: white;
 transition: background-color 0.35s ease-in-out;
}

#footer-socials ul li a:hover {
  color: var(--regular-primary-color) !important;
}
#footer-socials ul li a:link ,
#footer-socials ul li a:visited {
  color: var(--regular-secondary-color);
}