.homepage-background {
  background: radial-gradient(white, white, var(--pale-secondary-color));
}

#logo{
  width: 600px;
}

#main-container{
margin: 0 auto;
position:absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -35%);
text-align: center;
}

.categories-list{
  margin: 20px 0 40px 0;
}

.categories-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.categories-list ul li {
  opacity: .6;
  transition: all 0.4s ease;
}

.categories-list ul li:not(:last-child)::after {
  content: "|";
  margin-left: 20px;
  color: var(--regular-secondary-color);
  opacity: 0.3;
}

.categories-list ul li a {
  text-decoration: none;
  color: var(--regular-secondary-color);
  font-weight: 600;
  transition: all 0.4s ease;
}

.categories-list ul li a:hover {
  text-shadow: 0 0 .01px var(--regular-secondary-color);
  opacity: 1;
}

.categories-list ul li:hover {
  opacity: 1;
}

#btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
  align-items: center; 
  padding-top: 20px;
}

@media screen and (max-width: 620px) {
  #logo {
    width: 300px;
  }
  #btn-container {
      justify-content: center;
  }
}
