.item-page-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    padding: 2rem;
  }

  hr {
    height: 1px; 
    border: none; 
    background-color: var(--transluscent-secondary-color); 
    margin: 20px 0px;
  }
  
  .images {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .images img{
    border-radius: 10px;
  }
  
  .side-images {
    display: flex;
    flex-direction: column;
    gap: 17px; 
  }
  
  .description-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .price {
    font-size: 1.5rem;
    color: var(--regular-secondary-color);
    /* font-weight: bold; */
  }
  
  .description {
    line-height: 1.5;
    color: grey;
  }
  
  .details-table {
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .details-table td {
    min-width: 111px;
    vertical-align: top;
    line-height: 1.8;
  }
  
  .detail-key {
    font-weight: 600;
    text-transform: capitalize; /* Capitalize keys for a cleaner appearance */
    color: grey; /* Optional: Key text color */
  }
  
  .detail-value {
    color: grey; /* Value text color */
  }
  
  .user-btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .seller-details{
    background: var(--transluscent-secondary-color);
    border: 1px solid var(--pale-secondary-color);
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 20px;


    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
  
  .seller-icon {
    border-radius: 50%;
  }
  
  .seller-pseudo {
    font-weight: bold;
  }
  
  .seller-star-ratings {
    color: #ffa500;
  }
  
  .nb-raters {
    color: #666;
  }