body {
  margin: 0;
  padding: 0;

  position: relative;
  min-height: 100vh;
  height: 100%;
  background-color: white;
}

.item-page-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    padding: 2rem;
  }
  
    
  .images {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .images img{
    border-radius: 10px;
  }
  
  .side-images {
    display: flex;
    flex-direction: column;
    gap: 17px; 
  }
  
  .description-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .price {
    font-size: 1.5rem;
    color: var(--regular-secondary-color);
    /* font-weight: bold; */
  }
  
  .description-split{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 22px 0;
  }

  .divider {
    width: 1px;
    background-color: var(--pale-secondary-color);
    align-self: stretch; /* Makes the divider fill the height of its container */
  }

  .description {
    line-height: 1.5;
    color: grey;
    max-width: 220px;

    display: -webkit-box;         /* Required for multi-line ellipsis */
    -webkit-line-clamp: 5;        /* Number of lines to show */
    -webkit-box-orient: vertical; /* Required for multi-line ellipsis */
    overflow: hidden;             /* Hide overflowing content */
    max-height: 120px;             /* Set maximum height */
  }
  
  .details-table {
    border-collapse: collapse;
  }
  
  .details-table td {
    min-width: 100px;
    vertical-align: top;
    padding-bottom: 5px;
  }
  
  .detail-key {
    font-weight: 600;
    text-transform: capitalize; /* Capitalize keys for a cleaner appearance */
    color: grey; /* Optional: Key text color */
  }
  
  .detail-value {
    color: grey; /* Value text color */
  }
  
  .user-btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .seller-details{
    background: var(--transluscent-secondary-color);
    border: 1px solid var(--pale-secondary-color);
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 20px;

    line-height: 1.6;


    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    align-content: center;

    position: relative;
  }

  .seller-details::after {
    content: '\f105';
    font-family: 'FontAwesome'; 
    font-size: 16px;
    color: var(--regular-secondary-color); 
    position: absolute;
    right: 30px; 
    top: 50%;
    transform: translateY(-50%); 
  }
  
  
  .seller-icon {
    border-radius: 50%;
  }
  
  .seller-pseudo {
    font-weight: bold;
    color: var(--regular-secondary-color);
  }
  
  .nb-raters {
    color: #666;
  }

  .seller-star-ratings i {
    /* font-size: 20px;  */
    margin-right: 3px; /* Espacement entre les étoiles */
  }
  /* Couleur des étoiles pleines */
  .seller-star-ratings .fa.fa-star {
    color: var(--regular-primary-color); /* Couleur dorée */
  }
  /* Couleur des demi-étoiles */
  .seller-star-ratings .fa.fa-star-half-o {
    color: var(--regular-primary-color); /* Couleur dorée pour demi-étoile */
  }
  /* Couleur des étoiles vides */
  .seller-star-ratings .fa.fa-star-o {
    color: var(--regular-secondary-color); /* Couleur grise pour les étoiles vides */
  }