/* Global Styles */
body {
    margin: 0;
    padding: 0;

    position: relative;
    min-height: 100vh;
    height: 100%;
    background-color: white;
  }
  
  /* Frontpage Styles */
  .Frontpage {
    display: flex;
    flex-direction: column;
  }

  
  /* Items Styles */
  .Items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  
  .Item {
    display: flex;
    flex-direction: column;
  }
  
  .Item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    }
  
  .Item-Content {
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .Item-Title {
    margin-bottom: 0.5rem;
  }
  
  .Item-Price {
    color: var(--regular-secondary-color);
  }


  .space{
    height: 250px;
  }