@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  max-width: 100vw;

  --pale-primary-color: #ffba92;
  --light-primary-color: #ffab7b;
  --regular-primary-color: #cd621e;
  --regular-secondary-color: #1b5058;
  --light-secondary-color: #c3d1cc;
  --pale-secondary-color: #e8eceb;
  --extra-pale-secondary-color: #eff2f1;
  --light-bkg-color: #fff9ea;
  --dark-bkg-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-image: url(./assets/backgroundImage.webp);
  background-size: cover;
  background-position: center;
}

*, html {
  font-family: 'Work Sans', sans-serif;
  color: var(--dark-bkg-color);
  margin: 0;
  padding: 0;
  font-size:14px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3rem;
}

#logo{
  fill:var(--regular-primary-color);
  height: 125px;
  width: 140px;
}


button{
	cursor: pointer;
	outline: none;
    
  display: block;
  margin: 0 auto;
  
  margin-top: 25px;
  padding: 8px 30px;

  border-radius: 24px;
  border: 1px solid var(--regular-primary-color);

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1em;
  
  background-color: var(--regular-primary-color);
  color: white;
  transition-duration: 0.6s;
}

button:hover {
    background-color: white;
    color: var(--regular-primary-color);
    border-color: var(--regular-primary-color);
    border: 1px solid;
    border-radius: 25px;
    text-decoration: none;
 }

 input{
  text-align: left;
  width: 300px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid white;
  padding: 0.6em 1em;
  background: var(--extra-pale-secondary-color);
}

input::placeholder {
  color: var(--regular-secondary-color); 
}

input:focus,
select:focus {
  outline: none;
  background: var(--pale-secondary-color);
}


