:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  max-width: 100vw;

  --pale-primary-color: #ffba92;
  --light-primary-color: #ffab7b;
  --regular-primary-color: #cd621e;
  --regular-secondary-color: #1b5058;
  --light-secondary-color: #568d96;
  --pale-secondary-color: #c3d1cc;
  --light-bkg-color: #fff9ea;
  --dark-bkg-color: #242424;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--text-color);
  font-family: "Concert One", sans-serif;
  font-size: 14px;
}

body{
  background-color: var(--bkg-color);
}

button{
  cursor: pointer;
  outline: none;
  
display: block;
margin: 0 auto;

margin-top: 25px;
padding: 8px 30px;

border-radius: 24px;
border: 1px solid var(--regular-secondary-color);

font-weight: 400;
letter-spacing: .1em;

background-color: var(--regular-secondary-color);
color: white;
transition-duration: 0.6s;
}

button:hover {
  background-color: white;
  color: var(--regular-secondary-color);
  border-color: var(--regular-secondary-color);
  border: 1px solid;
  border-radius: 25px;
  text-decoration: none;
}

input{
  text-align: center;
  width: 300px;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  padding: 8px 1em;
  background: white;
  box-shadow: 5px 5px 100px var(--pale-secondary-color);
}

input::placeholder {
  color: var(--light-secondary-color); 
}

input:focus,
select:focus {
outline: none;
box-shadow: 5px 5px 100px var(--light-secondary-color);

}

.conteneur {
  max-width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  text-align: justify;
} 


footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer-conteneur{
  width: 100%;
  background: var(--regular-secondary-color);
}

.custom-shape-divider-bottom-1730289659 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1730289659 svg {
  position: relative;
  top: -15px;
  display: block;
  width: calc(100% + 1.3px);
  height: 129px;
}

.custom-shape-divider-bottom-1730289659 .shape-fill {
  fill: var(--regular-secondary-color);
}
#footer-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  position: relative;
  top: -25px;
}

#footer-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 100px;
}

@media screen and (max-width: 620px) {
  #footer-content, 
  #footer-links {
      gap: 30px;
  }
}

#footer-links ul{
  list-style: none;
}

#footer-links ul li a,
#footer-links ul li h4{
  color: white;
  text-decoration: none;
  line-height: 1.5;
}

#footer-links ul li a:hover{
  color: var(--pale-secondary-color);
}

#footer-socials ul{
  list-style: none;
}

#footer-socials ul li {
  display: inline-block;
  margin-left: 20px;
}

#footer-socials ul li a {
 display: inline-block;
 width: 45px ;
 height: 45px;
 text-align: center;
 line-height: 58px;
 border-radius: 50%;
 background: white;
 transition: background-color 0.35s ease-in-out;
}

#footer-socials ul li a:hover {
  color: var(--regular-primary-color) !important;
}
#footer-socials ul li a:link ,
#footer-socials ul li a:visited {
  color: var(--regular-secondary-color);
}