/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Frontpage Styles */
  .Frontpage {
    display: flex;
    flex-direction: column;
  }
  
  header{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    padding: 20px 0;
    gap: 30px;
}

#main-header{
    width: 100%;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    align-items: center;
}

#main-header-search,
#main-header-buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

#logo2{
    width: 120px;
}

#main-header-filters{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: wrap;
    align-items: center;
}

#main-header-filters{
    list-style: none;
  }
  
#main-header-filters li button{
    background-color: unset;
    color: var(--regular-secondary-color);
    border-color: var(--regular-secondary-color);
  }

#main-header-filters li button:hover {
    background: white;
}
  
  
  /* Items Styles */
  .Items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  
  .Item {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .Item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .Item-Content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .Item-Title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .Item-Price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #007bff;
  }